
.vs/*
MoreThanNotes/bin/*
MoreThanNotes/obj/*
NotesSimulator/bin/*
NotesSimulator/obj/*
DBModels/bin/*
DBModels/obj/*
NotesWcfService/bin/*
NotesWcfService/obj/*
DBAdapter/bin/*
DBAdapter/obj/*
EntityProvider/bin/*
EntityProvider/obj/*
Managers/bin/*
Managers/obj/*
Tools/bin/*
Tools/obj/*
Providers/bin/*
Providers/obj/*

MoreThanNotes/bin/Debug/*
MoreThanNotes/obj/Debug/*
NotesSimulator/bin/Debug/*
NotesSimulator/obj/Debug/*
DBModels/bin/Debug/*
DBModels/obj/Debug/*
NotesWcfService/bin/Debug/*
NotesWcfService/obj/Debug/*
DBAdapter/bin/Debug/*
DBAdapter/obj/Debug/*
EntityProvider/bin/Debug/*
EntityProvider/obj/Debug/*
Managers/bin/Debug/*
Managers/obj/Debug/*
Tools/bin/Debug/*
Tools/obj/Debug/*
Providers/bin/Debug/*
Providers/obj/Debug/*

ProviderTools/bin/*
ProviderTools/obj/*
ProviderTools/bin/Debug/*
ProviderTools/obj/Debug/*
MoreThanNotes.sln.DotSettings.user