
.vs/*
MoreThanNotes/bin/*
MoreThanNotes/obj/*
NotesSimulator/bin/*
NotesSimulator/obj/*
DBModels/bin/*
DBModels/obj/*
NotesWcfService/bin/*
NotesWcfService/obj/*
DBAdapter/bin/*
DBAdapter/obj/*
EntityProvider/bin/*
EntityProvider/obj/*
Managers/bin/*
Managers/obj/*
Tools/bin/*
Tools/obj/*
Providers/bin/*
Providers/obj/*
ProviderTools/bin/*
ProviderTools/obj/*
MoreThanNotes.sln.DotSettings.user