<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotesService" />
                <binding name="BasicHttpBinding_INotesService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59735/NotesService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INotesService" contract="MoreThanNotesWCFServiceReference.INotesService"
                name="BasicHttpBinding_INotesService" />
            <endpoint address="http://localhost:59735/NotesService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INotesService1" contract="NotesWcfServiceReference.INotesService"
                name="BasicHttpBinding_INotesService1" />
        </client>
    </system.serviceModel>
</configuration>